<div class="quantity-selector">
    <button class="quantity-minus" type="button">-</button>
    <input type="number" name="quantity" class="quantity" id="quantity" value="1" min="1" readonly>
    <button class="quantity-plus" type="button">+</button>
</div>
