<div class="product" >
  <div class="gallery" >
    <img src="{{ product.featured_image | image_url: width: 500, height: 500  }}" >
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets": [
      {
        "name": "Product",
      }
    ]
  }
{% endschema %}