h2 {
  font-size: 30px;
}
a{
  text-decoration: none;
  color: initial;
}
img {
  width: 100%;
}
.container{
  width: 100%;
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}

#shopify-section-header .header-main .icon-menue {
  align-self: flex-end;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
}

.header-main a {
  text-decoration: none;
  color: initial;
}
.header_wrapper .header {
  display: flex;
  justify-content: space-around;
}

.header .icon-menue {
  flex: 0 0 33.333%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.header .navigations {
  flex: 0 0 33%;
  align-items: center;
  display: flex;

}
.header .navigations ul{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.header_wrapper {
  background: #fff;
  box-shadow: 0px 15px 20px 1px #0000001f;
  position: sticky;
  top: 1;
  left: 1;
  z-index: 99;
  padding: 0 30px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.navigations a {
  text-decoration: none;
  color: initial;
}

.cart_item {
  display: flex;
  flex-wrap: wrap;
  border: .5px solid #000000b0;
  margin: 10px 0;
  border-radius: 10px;
}

.cart_item .image {
  max-width: 140px;
}
.cart_item .image img{
  border-radius: 10px;
}

.cart_item .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.cart_info-n-checkout {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
    border-radius: 7px;
}

.cart_info-n-checkout .cart-info p {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 10px;
}

.cart_info-n-checkout #checkoutButton {
    background: #000;
    color: #fff;
    padding: 8px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.product {
  width: 700px;
}




