img {
  width: 100%;
}

*{
    margin:0;
    padding:0;
    list-style:none;
    box-sizing:border-box;
}

.container{
    padding:0 10px;
    margin:0 auto;
    max-width:1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    border-bottom: 1px solid #ffffff63;
}

.header .header_wrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.header .header_wrapper .nav-bar {
    flex: 0 0 auto;
}

.header .header_wrapper .header-brand .logo {
    max-width: 200px;
}

.header .header_wrapper .actoins-bar {
    flex: 0 0 20%;
}

.header .header_wrapper .header-brand {
    flex: 0 0 150px;
    margin: 15px 0;
}

.header .header_wrapper .actoins-bar .icon-menue {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.header .header_wrapper .nav-bar ul{
    height: 100%;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    gap:15px;
    a{
      color: #fff;
      text-decoration: none;
    }
}